@font-face {
	font-family: 'iconskolasame';
	src:url('../fonts/iconskolasame.eot');
	src:url('../fonts/iconskolasame.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconskolasame.woff') format('woff'),
		url('../fonts/iconskolasame.ttf') format('truetype'),
		url('../fonts/iconskolasame.svg#iconskolasame') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconskolasame';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-twitter, .icon-github, .icon-linkedin, .icon-mail, .icon-location, .icon-github-2 {
	font-family: 'iconskolasame';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-mail:before {
	content: "\e003";
}
.icon-location:before {
	content: "\e004";
}
.icon-github-2:before {
	content: "\e002";
}
.icon-github:before {
	content: "\e006";
}
.icon-twitter:before {
	content: "\e005";
}
.icon-linkedin:before {
	content: "\e001";
}